.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.green-value {
  color: green;
}

.red-value {
  color: red;
}

.finished {
  background-color: green;
}

.staller {
  background-color: red;
}

.double-rank {
  background-color: darkorange;
}

.warn-button {
  color: #f44336;
}
