<div class="centered-content">
  <h3>PR {{ pr.name }}</h3>
  <p>
    Creator : <b>{{ pr.creator }}</b> |
    <span *ngIf="pr.nomination">
      Nomination deadline:
      <b class="{{ passedDeadline(pr.nomination.deadlineNomination) }}">{{
        pr.nomination.deadlineNomination | date : "dd/MM/yyyy HH:mm"
      }}</b>
      |
    </span>
    Deadline:
    <b class="{{ passedDeadline(pr.deadline) }}">{{
      pr.deadline | date : "dd/MM/yyyy HH:mm"
    }}</b>
  </p>
  <p>
    Nomination:
    <mat-icon>{{ pr.nomination ? "check_circle" : "cancel" }}</mat-icon> |
    <span *ngIf="pr.nomination">
      Hidden: <mat-icon>{{ pr.nomination.hidden ? "check_circle" : "cancel" }}</mat-icon> |
      Blind: <mat-icon>{{ pr.nomination.blind ? "check_circle" : "cancel" }}</mat-icon> |
    </span>
    Tie: <mat-icon>{{ pr.tie.status ? "check_circle" : "cancel" }}</mat-icon> |
    Finished:
    <mat-icon>{{ pr.finished ? "check_circle" : "cancel" }}</mat-icon> | Video:
    <mat-icon>{{ pr.video ? "check_circle" : "cancel" }}</mat-icon> | Affinity
    image:
    <mat-icon>{{ pr.affinityImage ? "check_circle" : "cancel" }}</mat-icon> |
    Stats: <mat-icon>{{ pr.prStats ? "check_circle" : "cancel" }}</mat-icon>
  </p>
  <p>
    Must be: <b>{{ pr.mustBe }}</b> |
    <span *ngIf="pr.nomination">
      Song per user: <b>{{ pr.nomination.songPerUser }}</b> |
    </span> Number of songs:
    <b>{{ pr.numberSongs }}</b> | Number of voters:
    <b>{{ pr.numberVoters }}</b> | Finished count: <b>{{ countFinished() }}</b>
  </p>
  <p>
    <button mat-raised-button (click)="generateStallerMsg()">
      <mat-icon>content_copy</mat-icon>Copy Staller Message
    </button>
    <button mat-raised-button (click)="downloadJson()">
      <mat-icon>file_download</mat-icon>Download output JSON
    </button>
    <button mat-raised-button [routerLink]="['/nomination', pr._id]" *ngIf="pr.nomination">
      <mat-icon>article</mat-icon>Nomination
    </button>
    <button mat-raised-button [routerLink]="['/pr', pr._id, 'edit']">
      <mat-icon>edit</mat-icon>Edit
    </button>
    <button mat-raised-button color="primary" (click)="toggleTabVideoMode()">
      <mat-icon>{{ tabVideoMode ? "open_in_new" : "video_library" }}</mat-icon>
      {{ tabVideoMode ? "Tab Video Mode" : "Floating Video Mode" }}
    </button>
  </p>
</div>

<div *ngIf="currentVideoSource" class="center floating-video-player">
  <button class="close-button" (click)="closeVideoPlayer()">✖</button>
  <u>Now playing</u>
  <br />
  <b>{{ getNowPlaying(currentVideoSource, "urlVideo").artist }}</b> -
  <b>{{ getNowPlaying(currentVideoSource, "urlVideo").title }}</b>
  <br />
  <iframe
    id="ytplayer"
    type="text/html"
    height="360"
    [src]="sanitizeUrl(currentVideoSource)"
    frameborder="0"
    allowfullscreen
    *ngIf="currentVideoSource && isYouTubeLink(currentVideoSource)"
  ></iframe>
  <video
    #player
    id="player"
    controls
    [src]="currentVideoSource"
    autoplay
    *ngIf="currentVideoSource && !isYouTubeLink(currentVideoSource)"
  ></video>
</div>

<div *ngIf="currentAudioSource" class="center floating-audio-player">
  <button class="close-button" (click)="closeAudioPlayer()">✖</button>
  <u>Now playing</u>
  <br />
  <b>{{ getNowPlaying(currentAudioSource, "urlAudio").artist }}</b> -
  <b>{{ getNowPlaying(currentAudioSource, "urlAudio").title }}</b>
  <br />
  <audio
    #player
    id="player"
    controls
    [src]="currentAudioSource"
    *ngIf="currentAudioSource"
    autoplay
  ></audio>
</div>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Song List">
    <table mat-table [dataSource]="songList" matSort class="full-width-table">
      <!-- Order ID Column -->
      <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Order ID<mat-icon>sort</mat-icon>
        </th>
        <td mat-cell *matCellDef="let song">{{ song.orderId }}</td>
      </ng-container>

      <!-- UUID Column -->
      <ng-container matColumnDef="uuid" *ngIf="isAdmin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          UUID<mat-icon>sort</mat-icon>
        </th>
        <td mat-cell *matCellDef="let song">{{ song.uuid }}</td>
      </ng-container>

      <!-- Artist Column -->
      <ng-container matColumnDef="artist">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Artist<mat-icon>sort</mat-icon>
        </th>
        <td mat-cell *matCellDef="let song">{{ song.artist }}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Title<mat-icon>sort</mat-icon>
        </th>
        <td mat-cell *matCellDef="let song">{{ song.title }}</td>
      </ng-container>

      <!-- Anime Column -->
      <ng-container matColumnDef="anime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Anime<mat-icon>sort</mat-icon>
        </th>
        <td mat-cell *matCellDef="let song">{{ song.anime }}</td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Type<mat-icon>sort</mat-icon>
        </th>
        <td mat-cell *matCellDef="let song">{{ song.type }}</td>
      </ng-container>

      <!-- Start Sample Column -->
      <ng-container matColumnDef="startSample">
        <th mat-header-cell *matHeaderCellDef>Start Sample</th>
        <td mat-cell *matCellDef="let song">{{ song.startSample }}</td>
      </ng-container>

      <!-- Sample Length Column -->
      <ng-container matColumnDef="sampleLength">
        <th mat-header-cell *matHeaderCellDef>Sample Length</th>
        <td mat-cell *matCellDef="let song">{{ song.sampleLength }}</td>
      </ng-container>

      <!-- URL Video Column -->
      <ng-container matColumnDef="urlVideo">
        <th mat-header-cell *matHeaderCellDef>URL Video</th>
        <td mat-cell *matCellDef="let song">
          <button
            mat-icon-button
            (click)="playVideo(song.urlVideo)"
            *ngIf="!tabVideoMode"
          >
            <mat-icon>video_library</mat-icon>
          </button>
          <a
            mat-icon-button
            [href]="videoLink(song.uuid)"
            target="_blank"
            *ngIf="tabVideoMode"
            ><mat-icon>open_in_new</mat-icon>
          </a>
        </td>
      </ng-container>

      <!-- URL Audio Column -->
      <ng-container matColumnDef="urlAudio">
        <th mat-header-cell *matHeaderCellDef>URL Audio</th>
        <td mat-cell *matCellDef="let song">
          <button mat-icon-button (click)="playAudio(song.urlAudio)">
            <mat-icon>music_note</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsSongList"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsSongList"></tr>
    </table>
  </mat-tab>
  <mat-tab label="Voters">
    <table mat-table [dataSource]="userList" matSort class="full-width-table">
      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Username<mat-icon>sort</mat-icon>
        </th>
        <td mat-cell *matCellDef="let voter">{{ voter.username }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Name<mat-icon>sort</mat-icon>
        </th>
        <td mat-cell *matCellDef="let voter">{{ voter.name }}</td>
      </ng-container>

      <!-- Has Finished Column -->
      <ng-container matColumnDef="hasFinished">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Has Finished<mat-icon>sort</mat-icon>
        </th>
        <td mat-cell *matCellDef="let voter">
          <mat-icon>{{
            voter.hasFinished ? "check_circle" : "cancel"
          }}</mat-icon>
        </td>
      </ng-container>

      <!-- Staller Column -->
      <ng-container matColumnDef="staller">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Staller<mat-icon>sort</mat-icon>
        </th>
        <td mat-cell *matCellDef="let voter">
          <mat-icon>{{ voter.staller ? "check_circle" : "cancel" }}</mat-icon>
        </td>
      </ng-container>

      <!-- Double Rank Column -->
      <ng-container matColumnDef="doubleRank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Double Rank<mat-icon>sort</mat-icon>
        </th>
        <td mat-cell *matCellDef="let voter">
          <mat-icon>{{
            voter.doubleRank ? "check_circle" : "cancel"
          }}</mat-icon>
        </td>
      </ng-container>

      <!-- More Options Column -->
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef>Options</th>
        <td mat-cell *matCellDef="let voter">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Options"
            (click)="$event.stopPropagation()"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              (click)="openSheetViewDialog(pr._id, voter.discordId)"
            >
              <mat-icon>visibility</mat-icon>
              <span>View Sheet</span>
            </button>
            <button
              mat-menu-item
              class="warn-button"
              (click)="openDeleteUserDialog(pr._id, voter.discordId)"
            >
              <mat-icon>logout</mat-icon>
              <span>Remove</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsUsers"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumnsUsers"
        [ngClass]="getRowClass(row)"
      ></tr>
    </table>
  </mat-tab>
</mat-tab-group>
