.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.green-value {
  color: darkgreen;
}

.red-value {
  color: darkred;
}

.finished {
  background-color: darkgreen;
}

.staller {
  background-color: darkred;
}

.double-rank {
  background-color: darkorange;
}

.warn-button {
  color: #f44336;
}

.center {
  text-align: center;
}

.floating-audio-player {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #979797;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.floating-video-player {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #979797;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 640px;
  height: 410px;
  border-radius: 10px;
  min-width: 10%;
  min-height: 10%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  resize: both;
}

.floating-video-player video {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.floating-video-player iframe,
.floating-video-player video {
  aspect-ratio: 16 / 9;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
