.clickable {
  cursor: pointer;
}

.green-value {
  color: darkgreen;
  text-shadow: 1px 1px 1px #000;
}

.red-value {
  color: darkred;
  text-shadow: 1px 1px 1px #000;
}

.finished {
  background-color: darkgreen;
}

.unfinished {
  background-color: darkred;
}

.custom-fab {
  background-color: darkslategray;
  color: white;
}

.custom-fab:hover {
  background-color: slategray;
}

.warn-button {
  color: #f44336;
}
