.clickable {
  cursor: pointer;
}

.green-value {
  color: green;
  text-shadow: 1px 1px 2px black;
}

.red-value {
  color: red;
  text-shadow: 1px 1px 2px black;
}

.finished {
  background-color: green;
}

.unfinished {
  background-color: orangered;
}

.custom-fab {
  background-color: darkslategray;
  color: white;
}

.custom-fab:hover {
  background-color: slategray;
}

.warn-button {
  color: #f44336;
}
