<div class="centered-content">
  <h2>Create PR</h2>
  <form [formGroup]="prForm" class="centered-content">
    <mat-form-field class="input-full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <mat-label>Server</mat-label>
      <mat-select formControlName="serverId" required>
        <mat-option *ngFor="let server of servers" [value]="server._id">{{
          server.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <mat-label>Deadline</mat-label>
      <input
        matInput
        type="datetime-local"
        formControlName="deadline"
        required
      />
    </mat-form-field>

    <mat-slide-toggle (change)="toggleNomination()" required>
      Is Nomination
    </mat-slide-toggle>

    <span *ngIf="isNomination">
      <mat-form-field class="input-full-width">
        <mat-label>Deadline Nomination</mat-label>
        <input
          matInput
          type="datetime-local"
          formControlName="deadlineNomination"
          [required]="isNomination"
        />
      </mat-form-field>
      <br />
      <mat-checkbox formControlName="hidden" class="custom-checkbox">
        Hidden
      </mat-checkbox>
      <br />
      <mat-checkbox formControlName="blind" class="custom-checkbox">
        Blind
      </mat-checkbox>
      <br />
      <mat-checkbox
        formControlName="hideNominatedSongList"
        class="custom-checkbox"
      >
        Hide nomination song list
      </mat-checkbox>
      <br />
      <mat-form-field class="input-full-width">
        <mat-label>Song per user</mat-label>
        <input
          matInput
          formControlName="songPerUser"
          type="number"
          min="1"
          [required]="isNomination"
        />
      </mat-form-field>
    </span>

    <span *ngIf="!isNomination" class="centered-content">
      <button mat-raised-button (click)="downloadTemplate()">
        <mat-icon>download</mat-icon>
        Template Standard Song List
      </button>
      <button mat-raised-button (click)="openJsonInputFile()">
        <mat-icon>upload_file</mat-icon>
        Upload JSON (Standard/AnisongDB format)
      </button>
      Number of songs : {{ songCount }}
    </span>

    <br />

    <button mat-raised-button type="submit" (click)="onSubmit()">Submit</button>
  </form>
</div>
