body,
html {
  height: 100%;
  margin: 0;
}

.form {
  min-width: 200px;
  max-width: 500px;
  width: 100%;
}

.input-full-width {
  width: 100%;
}

.custom-checkbox .mat-checkbox-label {
  color: black;
}

.link-style {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.link-style:hover {
  color: darkblue;
}
