<h3 mat-dialog-title>Edit {{ song.title }}</h3>

<mat-dialog-content>
  <div class="centered-content">
    <form [formGroup]="editForm">
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Artist</mat-label>
          <input
            matInput
            type="text"
            id="artist"
            formControlName="artist"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input
            matInput
            type="text"
            id="title"
            formControlName="title"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" class="input-full-width">
          <mat-label>Source</mat-label>
          <input matInput type="text" id="source" formControlName="source" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" class="input-full-width">
          <mat-label>Type</mat-label>
          <input
            matInput
            type="text"
            id="type"
            formControlName="type"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" class="input-full-width">
          <mat-label>Start Sample (in seconds)</mat-label>
          <input
            matInput
            type="number"
            id="startSample"
            formControlName="startSample"
            min="0"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>URL Video (URL or catbox file)</mat-label>
          <input
            matInput
            type="text"
            id="urlVideo"
            formControlName="urlVideo"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>URL Audio (URL or catbox file)</mat-label>
          <input
            matInput
            type="text"
            id="urlAudio"
            formControlName="urlAudio"
            required
          />
        </mat-form-field>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSave()" cdkFocusInitial>Save</button>
</mat-dialog-actions>
