<br />

<div class="centered-content">
  <button mat-raised-button routerLink="/pr/create">Create Party Ranking</button>
</div>

<br />

<div class="centered-content">
  <h4>Ongoing Party Ranking</h4>
</div>

<app-table
  [dataSource]="prsUnfinished"
  [displayedColumns]="displayedColumns"
  [isAdmin]="isAdmin"
  [isLoggedIn]="isLoggedIn"
  [isCreator]="isCreator"
></app-table>

<br />

<div class="centered-content">
  <h4>Finished Party Ranking</h4>
</div>
<app-table
  [dataSource]="prsFinished"
  [displayedColumns]="displayedColumns"
  [isAdmin]="isAdmin"
  [isLoggedIn]="isLoggedIn"
  [isCreator]="isCreator"
></app-table>
