<div class="centered-content"><h3>Party Ranking List</h3></div>

<div class="centered-content" *ngIf="isCreator">
  <button mat-raised-button routerLink="/pr/create">
    <mat-icon>add</mat-icon>Create Party Ranking
  </button>
</div>

<br />

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Ongoing">
    <app-table
      [user]="user"
      [dataSource]="prsUnfinished"
      [displayedColumns]="displayedColumns"
      [isAdmin]="isAdmin"
      [isLoggedIn]="isLoggedIn"
      [isCreator]="isCreator"
    ></app-table>
  </mat-tab>
  <mat-tab label="Finished">
    <app-table
      [user]="user"
      [dataSource]="prsFinished"
      [displayedColumns]="displayedColumns"
      [isAdmin]="isAdmin"
      [isLoggedIn]="isLoggedIn"
      [isCreator]="isCreator"
    ></app-table>
  </mat-tab>
</mat-tab-group>
