<div class="centered-content">
  <h3>Party Ranking List</h3>
  <span *ngIf="isCreator">
    <button mat-raised-button routerLink="/pr/create">
      <mat-icon>add</mat-icon>Create Party Ranking
    </button>
  </span>
  <span *ngIf="sheets">
    <mat-button-toggle-group [value]="filter" (change)="filterSheet($event)">
      <mat-button-toggle value="ALL" class="custom-button-toggle-all">All</mat-button-toggle>
      <mat-button-toggle value="NOTJOINED" class="custom-button-toggle-notjoined">Not joined</mat-button-toggle>
      <mat-button-toggle value="UNFILLED" class="custom-button-toggle-unfilled">Unfilled</mat-button-toggle>
      <mat-button-toggle value="FILLED" class="custom-button-toggle-filled">Filled</mat-button-toggle>
    </mat-button-toggle-group>
  </span>
</div>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" [selectedIndex]="1">
  <mat-tab label="Nomination">
    <app-table
      [user]="user"
      [sheetSimple]="sheets"
      [dataSource]="prsNomination"
      [displayedColumns]="nominationDisplayedColumns"
      [isAdmin]="isAdmin"
      [isLoggedIn]="isLoggedIn"
      [isCreator]="isCreator"
      [filter]="filter"
    ></app-table>
  </mat-tab>
  <mat-tab label="Ongoing">
    <app-table
      [user]="user"
      [sheetSimple]="sheets"
      [dataSource]="prsRanking"
      [displayedColumns]="rankingDisplayedColumns"
      [isAdmin]="isAdmin"
      [isLoggedIn]="isLoggedIn"
      [isCreator]="isCreator"
      [filter]="filter"
    ></app-table>
  </mat-tab>
  <mat-tab label="Finished">
    <app-table
      [user]="user"
      [sheetSimple]="sheets"
      [dataSource]="prsFinished"
      [displayedColumns]="finishedDisplayedColumns"
      [isAdmin]="isAdmin"
      [isLoggedIn]="isLoggedIn"
      [isCreator]="isCreator"
      [filter]="filter"
    ></app-table>
  </mat-tab>
</mat-tab-group>
