<div>
  <mat-toolbar color="primary">
    <!-- <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>Party Ranking Live</span>
    <span class="spacer"></span>
    <button mat-button routerLink="">Home</button>
    <button mat-button routerLink="/pr">Party Ranking List</button>
    <button mat-button routerLink="/profile">Profile</button>
    <a mat-button href="{{ linkLog }}">{{ loginButton }}</a>
  </mat-toolbar>

  <!-- <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over" opened="false">
      <button mat-button routerLink="/about-us">About us</button>
      <button mat-button routerLink="/prices">Prices</button>
      <button mat-button routerLink="/start-page">Start page</button>
      <button mat-button routerLink="/offer">Offer</button>
      <button mat-button routerLink="/contact">Contact</button>
    </mat-sidenav>
    <mat-sidenav-content>
    </mat-sidenav-content>
  </mat-sidenav-container> -->
</div>
