<h3 mat-dialog-title>Song List {{ pr.name }}</h3>
<mat-dialog-content>
  <div class="centered-content">
    <p *ngIf="currentAudioSource">
      Now playing: <b>{{ getNowPlaying(currentAudioSource).artist }}</b> -
      <b>{{ getNowPlaying(currentAudioSource).title }}</b>
    </p>
    <p>
      <audio
        #player
        id="player"
        controls
        [src]="currentAudioSource"
        *ngIf="currentAudioSource"
        autoplay
      ></audio>
    </p>
  </div>
  <table mat-table [dataSource]="songList" matSort>
    <!-- OrderId Column -->
    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Order</th>
      <td mat-cell *matCellDef="let song">{{ song.orderId }}</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let song">{{ song.title }}</td>
    </ng-container>

    <!-- Artist Column -->
    <ng-container matColumnDef="artist">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Artist</th>
      <td mat-cell *matCellDef="let song">{{ song.artist }}</td>
    </ng-container>

    <!-- Anime Column -->
    <ng-container matColumnDef="anime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Anime</th>
      <td mat-cell *matCellDef="let song">{{ song.anime }}</td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let song">{{ song.type }}</td>
    </ng-container>

    <!-- Open Video Column -->
    <ng-container matColumnDef="urlVideo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Open Video</th>
      <td mat-cell *matCellDef="let song">
        <button mat-button (click)="openInNewTab(song.uuid)">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Open Audio Column -->
    <ng-container matColumnDef="urlAudio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Open Audio</th>
      <td mat-cell *matCellDef="let song">
        <button mat-button (click)="playAudio(song.uuid)">
          <mat-icon>music_note</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-dialog-content>
