<div class="centered-content">
  <h3>Tiebreak for {{ tie.name }}</h3>
  <span *ngIf="!tie.status">
    <h4>This PR has not a tie!</h4>
  </span>
  <span *ngIf="tie.status">
    <h4 class="centered-content">This PR has a tie!</h4>
    <p>Please score the musics. Your favorite music is the one that will have the highest score</p>
    <div class="centered-button">
      <button mat-raised-button (click)="onCopyLink()" *ngIf="isCreator()"><mat-icon>content_copy</mat-icon>Copy tiebreak link</button>
    </div>
  </span>
  <br />
</div>

<div *ngIf="tie.status">
  <div *ngFor="let tieSong of tie.tieSongs; let i = index">
    <h4 class="centered-content">Tie on total rank {{ tieSong[0].totalRank }}</h4>
    <div class="tie-song-container">
      <div *ngFor="let song of tieSong; let j = index">
        <h5 class="centered-content">Song n°{{ j + 1 }}</h5>
        <audio controls [src]="song.urlAudio" tabindex="-1"></audio>
        <br />
        <mat-form-field appearance="fill" class="centered-content">
          <mat-label>Tiebreak score</mat-label>
          <input
            id="{{ song.uuid }}"
            matInput
            type="number"
            min="0"
            max="2147483648"
            matTooltip="Higher is better"
            matTooltipPosition="below"
            (wheel)="onWheel($event)"
            tabindex="{{ i }}"
            required
          />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="centered-content">
    <button mat-raised-button color="primary" (click)="onSubmit()">Submit Tiebreak</button>
  </div>
</div>