<div class="centered-content">
  <h3>Hello <b class="rgb-animated">{{ user.name }}</b>!</h3>
  <p><img src="{{ user.image }}"/></p>

  <form [formGroup]="profileForm" class="centered-content form">
    <mat-form-field class="input-full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <p></p>
    <mat-form-field class="input-full-width">
      <mat-label>Image URL</mat-label>
      <input matInput formControlName="image" />
    </mat-form-field>
    <p></p>
    <button mat-raised-button color="primary" (click)="onSaveButtonClick()">
      Save
    </button>
  </form>
</div>
