<h3 mat-dialog-title>Sheet {{ voter.name }}</h3>
<mat-dialog-content class="">
  <div class="centered-content">
    <p>
      Total rank: <b class="{{ mustBeChecker() }}">{{ totalRank }}</b> | Mean
      score: <b>{{ meanScore | number:'1.3-3' }}</b>
    </p>
  </div>
  <table mat-table [dataSource]="sheetTable" matSort>
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let song">
        {{ getEntry(song.uuid, "title") }}
      </td>
    </ng-container>

    <!-- Artist Column -->
    <ng-container matColumnDef="artist">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Artist</th>
      <td mat-cell *matCellDef="let song">
        {{ getEntry(song.uuid, "artist") }}
      </td>
    </ng-container>

    <!-- Source Column -->
    <ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Source</th>
      <td mat-cell *matCellDef="let song">
        {{ getEntry(song.uuid, "source") }}
      </td>
    </ng-container>

    <!-- Rank Column -->
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rank</th>
      <td mat-cell *matCellDef="let song">{{ song.rank }}</td>
    </ng-container>

    <!-- Score Column -->
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Score</th>
      <td mat-cell *matCellDef="let song">{{ song.score }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-dialog-content>
